<div class="container">
  <h2>Do you want to change your renting period for <%= @shoe.name %> (size: <%= @shoe.size %>)? </h2>
  <h3>Please make the dates update here.</h3>
  <div class="row">
    <div class="col-6">
    <!-- Left column content -->
      <%= simple_form_for @order do |f| %>
      <%= f.input :user_id, :as => :hidden, :input_html => {:value => current_user.id} %>
      <%= f.input :shoe_id, :as => :hidden, :input_html => {:value => @shoe.id}%>
      <%= f.input :from %>
      <%= f.input :to %>
      <%= f.submit %>
      <% end %>
    </div>
    <div class="col-6">
    <!-- Right column content -->
      <% if @shoe.photos.first %>
      <span><%= cl_image_tag @shoe.photos.first.key, height: 200, width: 200, crop: :fill %></span>
      <% end %>
    </div>
  </div>
</div>
